.display-3{
  color: black;
  text-shadow: #464444 3px 3px;
  font-weight: 350;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #383737;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.lead{
  color: white;
  text-shadow: 2px 2px black;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.time{
  text-shadow: 3px 3px black;
  text-align: center;
  padding-bottom: 5px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea{
  font-size: 18px;
  font-weight: 400;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: transparent;
  border: none;
  resize: none;
  color: whitesmoke;
  border: 5px solid black;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 5px;
  animation: colorchangebrdr 20s infinite alternate;
}

.jumbotron {
  text-align: center;
  background-size: cover;
  background-color: #383737;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c2/Glorious-blue-mountain-range.jpg);
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-shadow: 3px 3px black;
  font-size: 18px;
  font-family:monospace;
  font-style: italic;
  border: black 10px double;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding-top: 20px;
  background-color: #464444;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  padding: 3px;
}

.saveBtn {
  border: 2px solid white;
  border-radius: 20px;
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
  background-color: #464444;
  background-image: url(https://www.flaticon.com/svg/vstatic/svg/846/846099.svg?token=exp=1612691519~hmac=dafd599dbd937484c2f9fea52931f91e);
}

.saveBtn:hover {
  background-color: darkgreen;
  border-color: black;
  font-size: 20px;
  transition: all .25s ease-in-out;
}

#currentDay{
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  text-shadow: 3px 3px black;
  animation: colorchange 20s infinite alternate;
}

@keyframes colorchange {
  0%   {color: red;}
  20%  {color: orange;}
  40%  {color: yellow;}
  60%  {color: green;}
  80%  {color: blue;}
  100% {color: purple;}
}

@keyframes colorchangebrdr {
  0%   {border-color: red;}
  20%  {border-color: orange;}
  40%  {border-color: yellow;}
  60%  {border-color: green;}
  80%  {border-color: blue;}
  100% {border-color: purple;}
}